	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/02/2016 12:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-web-application-ui-1-61597:before { content: "\f100"; }
.flaticon-web-application-ui-10-61609:before { content: "\f101"; }
.flaticon-web-application-ui-100-61764:before { content: "\f102"; }
.flaticon-web-application-ui-101-61765:before { content: "\f103"; }
.flaticon-web-application-ui-102-61767:before { content: "\f104"; }
.flaticon-web-application-ui-103-61768:before { content: "\f105"; }
.flaticon-web-application-ui-104-61769:before { content: "\f106"; }
.flaticon-web-application-ui-105-61770:before { content: "\f107"; }
.flaticon-web-application-ui-106-61771:before { content: "\f108"; }
.flaticon-web-application-ui-107-61772:before { content: "\f109"; }
.flaticon-web-application-ui-108-61773:before { content: "\f10a"; }
.flaticon-web-application-ui-109-61775:before { content: "\f10b"; }
.flaticon-web-application-ui-11-61610:before { content: "\f10c"; }
.flaticon-web-application-ui-110-61776:before { content: "\f10d"; }
.flaticon-web-application-ui-111-61777:before { content: "\f10e"; }
.flaticon-web-application-ui-112-61778:before { content: "\f10f"; }
.flaticon-web-application-ui-113-61779:before { content: "\f110"; }
.flaticon-web-application-ui-114-61780:before { content: "\f111"; }
.flaticon-web-application-ui-115-61781:before { content: "\f112"; }
.flaticon-web-application-ui-116-61782:before { content: "\f113"; }
.flaticon-web-application-ui-117-61783:before { content: "\f114"; }
.flaticon-web-application-ui-118-61784:before { content: "\f115"; }
.flaticon-web-application-ui-119-61785:before { content: "\f116"; }
.flaticon-web-application-ui-12-61611:before { content: "\f117"; }
.flaticon-web-application-ui-120-61786:before { content: "\f118"; }
.flaticon-web-application-ui-121-61787:before { content: "\f119"; }
.flaticon-web-application-ui-122-61789:before { content: "\f11a"; }
.flaticon-web-application-ui-123-61791:before { content: "\f11b"; }
.flaticon-web-application-ui-124-61792:before { content: "\f11c"; }
.flaticon-web-application-ui-125-61793:before { content: "\f11d"; }
.flaticon-web-application-ui-126-61794:before { content: "\f11e"; }
.flaticon-web-application-ui-127-61795:before { content: "\f11f"; }
.flaticon-web-application-ui-128-61796:before { content: "\f120"; }
.flaticon-web-application-ui-129-61797:before { content: "\f121"; }
.flaticon-web-application-ui-13-61613:before { content: "\f122"; }
.flaticon-web-application-ui-130-61800:before { content: "\f123"; }
.flaticon-web-application-ui-131-61802:before { content: "\f124"; }
.flaticon-web-application-ui-132-61804:before { content: "\f125"; }
.flaticon-web-application-ui-133-61807:before { content: "\f126"; }
.flaticon-web-application-ui-134-61808:before { content: "\f127"; }
.flaticon-web-application-ui-135-61810:before { content: "\f128"; }
.flaticon-web-application-ui-136-61811:before { content: "\f129"; }
.flaticon-web-application-ui-137-61812:before { content: "\f12a"; }
.flaticon-web-application-ui-138-61813:before { content: "\f12b"; }
.flaticon-web-application-ui-139-61816:before { content: "\f12c"; }
.flaticon-web-application-ui-14-61615:before { content: "\f12d"; }
.flaticon-web-application-ui-140-61819:before { content: "\f12e"; }
.flaticon-web-application-ui-141-61820:before { content: "\f12f"; }
.flaticon-web-application-ui-142-61821:before { content: "\f130"; }
.flaticon-web-application-ui-143-61825:before { content: "\f131"; }
.flaticon-web-application-ui-144-61826:before { content: "\f132"; }
.flaticon-web-application-ui-145-61827:before { content: "\f133"; }
.flaticon-web-application-ui-146-61828:before { content: "\f134"; }
.flaticon-web-application-ui-147-61831:before { content: "\f135"; }
.flaticon-web-application-ui-148-61833:before { content: "\f136"; }
.flaticon-web-application-ui-149-61834:before { content: "\f137"; }
.flaticon-web-application-ui-15-61616:before { content: "\f138"; }
.flaticon-web-application-ui-150-61837:before { content: "\f139"; }
.flaticon-web-application-ui-151-61838:before { content: "\f13a"; }
.flaticon-web-application-ui-152-61840:before { content: "\f13b"; }
.flaticon-web-application-ui-153-61841:before { content: "\f13c"; }
.flaticon-web-application-ui-154-61843:before { content: "\f13d"; }
.flaticon-web-application-ui-155-61844:before { content: "\f13e"; }
.flaticon-web-application-ui-156-61845:before { content: "\f13f"; }
.flaticon-web-application-ui-157-61846:before { content: "\f140"; }
.flaticon-web-application-ui-158-61847:before { content: "\f141"; }
.flaticon-web-application-ui-159-61848:before { content: "\f142"; }
.flaticon-web-application-ui-16-61617:before { content: "\f143"; }
.flaticon-web-application-ui-160-61850:before { content: "\f144"; }
.flaticon-web-application-ui-161-61851:before { content: "\f145"; }
.flaticon-web-application-ui-162-61852:before { content: "\f146"; }
.flaticon-web-application-ui-163-61853:before { content: "\f147"; }
.flaticon-web-application-ui-164-61854:before { content: "\f148"; }
.flaticon-web-application-ui-165-61857:before { content: "\f149"; }
.flaticon-web-application-ui-166-61858:before { content: "\f14a"; }
.flaticon-web-application-ui-167-61861:before { content: "\f14b"; }
.flaticon-web-application-ui-168-61862:before { content: "\f14c"; }
.flaticon-web-application-ui-169-61864:before { content: "\f14d"; }
.flaticon-web-application-ui-17-61618:before { content: "\f14e"; }
.flaticon-web-application-ui-170-61865:before { content: "\f14f"; }
.flaticon-web-application-ui-171-61867:before { content: "\f150"; }
.flaticon-web-application-ui-172-61868:before { content: "\f151"; }
.flaticon-web-application-ui-173-61870:before { content: "\f152"; }
.flaticon-web-application-ui-174-61872:before { content: "\f153"; }
.flaticon-web-application-ui-175-61873:before { content: "\f154"; }
.flaticon-web-application-ui-176-61874:before { content: "\f155"; }
.flaticon-web-application-ui-177-61875:before { content: "\f156"; }
.flaticon-web-application-ui-178-61876:before { content: "\f157"; }
.flaticon-web-application-ui-179-61878:before { content: "\f158"; }
.flaticon-web-application-ui-18-61619:before { content: "\f159"; }
.flaticon-web-application-ui-180-61879:before { content: "\f15a"; }
.flaticon-web-application-ui-181-61880:before { content: "\f15b"; }
.flaticon-web-application-ui-182-61882:before { content: "\f15c"; }
.flaticon-web-application-ui-183-61883:before { content: "\f15d"; }
.flaticon-web-application-ui-184-61884:before { content: "\f15e"; }
.flaticon-web-application-ui-185-61886:before { content: "\f15f"; }
.flaticon-web-application-ui-186-61887:before { content: "\f160"; }
.flaticon-web-application-ui-187-61889:before { content: "\f161"; }
.flaticon-web-application-ui-188-61890:before { content: "\f162"; }
.flaticon-web-application-ui-189-61891:before { content: "\f163"; }
.flaticon-web-application-ui-19-61620:before { content: "\f164"; }
.flaticon-web-application-ui-190-61921:before { content: "\f165"; }
.flaticon-web-application-ui-191-61922:before { content: "\f166"; }
.flaticon-web-application-ui-192-61923:before { content: "\f167"; }
.flaticon-web-application-ui-193-61924:before { content: "\f168"; }
.flaticon-web-application-ui-194-61925:before { content: "\f169"; }
.flaticon-web-application-ui-195-61926:before { content: "\f16a"; }
.flaticon-web-application-ui-196-61927:before { content: "\f16b"; }
.flaticon-web-application-ui-197-62012:before { content: "\f16c"; }
.flaticon-web-application-ui-198-62013:before { content: "\f16d"; }
.flaticon-web-application-ui-199-62613:before { content: "\f16e"; }
.flaticon-web-application-ui-2-61598:before { content: "\f16f"; }
.flaticon-web-application-ui-20-61621:before { content: "\f170"; }
.flaticon-web-application-ui-21-61622:before { content: "\f171"; }
.flaticon-web-application-ui-22-61623:before { content: "\f172"; }
.flaticon-web-application-ui-23-61625:before { content: "\f173"; }
.flaticon-web-application-ui-24-61627:before { content: "\f174"; }
.flaticon-web-application-ui-25-61628:before { content: "\f175"; }
.flaticon-web-application-ui-26-61630:before { content: "\f176"; }
.flaticon-web-application-ui-27-61632:before { content: "\f177"; }
.flaticon-web-application-ui-28-61633:before { content: "\f178"; }
.flaticon-web-application-ui-29-61634:before { content: "\f179"; }
.flaticon-web-application-ui-3-61600:before { content: "\f17a"; }
.flaticon-web-application-ui-30-61635:before { content: "\f17b"; }
.flaticon-web-application-ui-31-61640:before { content: "\f17c"; }
.flaticon-web-application-ui-32-61643:before { content: "\f17d"; }
.flaticon-web-application-ui-33-61644:before { content: "\f17e"; }
.flaticon-web-application-ui-34-61645:before { content: "\f17f"; }
.flaticon-web-application-ui-35-61648:before { content: "\f180"; }
.flaticon-web-application-ui-36-61653:before { content: "\f181"; }
.flaticon-web-application-ui-37-61655:before { content: "\f182"; }
.flaticon-web-application-ui-38-61656:before { content: "\f183"; }
.flaticon-web-application-ui-39-61659:before { content: "\f184"; }
.flaticon-web-application-ui-4-61601:before { content: "\f185"; }
.flaticon-web-application-ui-40-61660:before { content: "\f186"; }
.flaticon-web-application-ui-41-61663:before { content: "\f187"; }
.flaticon-web-application-ui-42-61666:before { content: "\f188"; }
.flaticon-web-application-ui-43-61667:before { content: "\f189"; }
.flaticon-web-application-ui-44-61671:before { content: "\f18a"; }
.flaticon-web-application-ui-45-61674:before { content: "\f18b"; }
.flaticon-web-application-ui-46-61676:before { content: "\f18c"; }
.flaticon-web-application-ui-47-61677:before { content: "\f18d"; }
.flaticon-web-application-ui-48-61678:before { content: "\f18e"; }
.flaticon-web-application-ui-49-61680:before { content: "\f18f"; }
.flaticon-web-application-ui-5-61603:before { content: "\f190"; }
.flaticon-web-application-ui-50-61683:before { content: "\f191"; }
.flaticon-web-application-ui-51-61685:before { content: "\f192"; }
.flaticon-web-application-ui-52-61686:before { content: "\f193"; }
.flaticon-web-application-ui-53-61688:before { content: "\f194"; }
.flaticon-web-application-ui-54-61689:before { content: "\f195"; }
.flaticon-web-application-ui-55-61692:before { content: "\f196"; }
.flaticon-web-application-ui-56-61694:before { content: "\f197"; }
.flaticon-web-application-ui-57-61695:before { content: "\f198"; }
.flaticon-web-application-ui-58-61696:before { content: "\f199"; }
.flaticon-web-application-ui-59-61697:before { content: "\f19a"; }
.flaticon-web-application-ui-6-61604:before { content: "\f19b"; }
.flaticon-web-application-ui-60-61698:before { content: "\f19c"; }
.flaticon-web-application-ui-61-61699:before { content: "\f19d"; }
.flaticon-web-application-ui-61596:before { content: "\f19e"; }
.flaticon-web-application-ui-62-61706:before { content: "\f19f"; }
.flaticon-web-application-ui-63-61708:before { content: "\f1a0"; }
.flaticon-web-application-ui-64-61709:before { content: "\f1a1"; }
.flaticon-web-application-ui-65-61714:before { content: "\f1a2"; }
.flaticon-web-application-ui-66-61715:before { content: "\f1a3"; }
.flaticon-web-application-ui-67-61716:before { content: "\f1a4"; }
.flaticon-web-application-ui-68-61717:before { content: "\f1a5"; }
.flaticon-web-application-ui-69-61718:before { content: "\f1a6"; }
.flaticon-web-application-ui-7-61605:before { content: "\f1a7"; }
.flaticon-web-application-ui-70-61719:before { content: "\f1a8"; }
.flaticon-web-application-ui-71-61720:before { content: "\f1a9"; }
.flaticon-web-application-ui-72-61721:before { content: "\f1aa"; }
.flaticon-web-application-ui-73-61722:before { content: "\f1ab"; }
.flaticon-web-application-ui-74-61725:before { content: "\f1ac"; }
.flaticon-web-application-ui-75-61726:before { content: "\f1ad"; }
.flaticon-web-application-ui-76-61728:before { content: "\f1ae"; }
.flaticon-web-application-ui-77-61729:before { content: "\f1af"; }
.flaticon-web-application-ui-78-61731:before { content: "\f1b0"; }
.flaticon-web-application-ui-79-61733:before { content: "\f1b1"; }
.flaticon-web-application-ui-8-61606:before { content: "\f1b2"; }
.flaticon-web-application-ui-80-61735:before { content: "\f1b3"; }
.flaticon-web-application-ui-81-61736:before { content: "\f1b4"; }
.flaticon-web-application-ui-82-61739:before { content: "\f1b5"; }
.flaticon-web-application-ui-83-61740:before { content: "\f1b6"; }
.flaticon-web-application-ui-84-61741:before { content: "\f1b7"; }
.flaticon-web-application-ui-85-61742:before { content: "\f1b8"; }
.flaticon-web-application-ui-86-61743:before { content: "\f1b9"; }
.flaticon-web-application-ui-87-61746:before { content: "\f1ba"; }
.flaticon-web-application-ui-88-61747:before { content: "\f1bb"; }
.flaticon-web-application-ui-89-61748:before { content: "\f1bc"; }
.flaticon-web-application-ui-9-61608:before { content: "\f1bd"; }
.flaticon-web-application-ui-90-61749:before { content: "\f1be"; }
.flaticon-web-application-ui-91-61750:before { content: "\f1bf"; }
.flaticon-web-application-ui-92-61751:before { content: "\f1c0"; }
.flaticon-web-application-ui-93-61752:before { content: "\f1c1"; }
.flaticon-web-application-ui-94-61754:before { content: "\f1c2"; }
.flaticon-web-application-ui-95-61757:before { content: "\f1c3"; }
.flaticon-web-application-ui-96-61758:before { content: "\f1c4"; }
.flaticon-web-application-ui-97-61759:before { content: "\f1c5"; }
.flaticon-web-application-ui-98-61761:before { content: "\f1c6"; }
.flaticon-web-application-ui-99-61763:before { content: "\f1c7"; }